.card {
  min-height: 229px;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 270px;
  height: 151px;
}

.card__title-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card__title {
  margin: 0;
  width: 100%;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}

.card__button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.card__button_close {
  height: 24px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #313131;
}

.card__button svg path {
  fill: #FFF;
}

.card__button_liked svg path {
  fill: #EE3465;
}

.card__button:hover {
  opacity: 0.8;
}

.card__wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.card__line {
  margin-bottom: 6px;
  display: flex;
  border-bottom: 1px solid #424242;
}

.card__duration {
  margin: 0;
  color: #8B8B8B;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

@media screen and (max-width: 1279px) {
  .card {
    min-height: 268px;
  }

  .card__image {
    width: 339px;
    height: 190px;
  }

  .card__title-wrapper {
    margin-top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    min-height: 245px;
  }

  .card__image {
    width: 300px;
    height: 168px;
  }

  .card__title {
    font-size: 12px;
  }

  .card__duration {
    font-size: 10px;
  }
}